*{padding:0; margin: 0; list-style: none; text-decoration: none; font-family: 'Lato', sans-serif;}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap');


body {
    /* background-color: #666b6869;
    height: 100vh; */
}

body > h1 {
    padding: 30px;
    text-align: center;
    color: #353D40;
}

/* Página de visualizaão dos intes */
.header-alin {
    background-color:#1F262E;
}
/*Header do sistemas */
.sectionHead {
    margin: 0 auto;
    display: flex;
    width: 600px;
    max-width: 100%;
    height: 80px;
    /* background: red; */
}

.logo {
    flex:1;
    display: flex;
    height: 80px;
    min-width: 192.717px;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
}

.menu-fornt {
    flex:6;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
}

.menu-top {
    display: flex;
    height: 40px;
    align-items: center;
    
}
.menu-top li {
    color: #5B626A;
    padding: 40px 8px;
    font-size: 16px;
    border-left: solid 2px #141B23;
}

.menu-bottom {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 40px;
    border-bottom: 1px solid #2E3740;
}

.menu-bottom p {
    padding: 5px;
}
/*Fim do estilo do Header*/

:root {
     /* ------ Color ------ */
    --body-color: #e4e9f7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --taggle-color: #DDD;
    --text-color: #707070;

    /* ------ transition:  ------ */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 1.2s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --taggle-color: #FFF;
    --text-color: #CCC;
}

/* ==== Sidebar ==== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 14px;
    width: 250px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close {
    width: 60px;
}

/* ===== Resuable CSS ===== */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar.close .text {
   opacity: 0; 
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.sidebar .nav-links, .search-box {
    height: 42px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var( --text-color);
    transition: var(--tran-02);
}

.nav-menu {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
}



.nav-menu .bk-menu {
    height: 100%;
    width: 100%;
    padding: 11px 0;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.smenu {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 20px;
    background: var(--primary-color-light);
    border-radius: 6px;
    opacity: 0;
}

.smenu a .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    font-size: 20px;
}

.smenu.open {
    opacity: 100;
    transition: var(--tran-06);
} 

.smenu a:hover {
    border-radius: 6px;
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;

}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px; 
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}

.sidebar li .link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var( --sidebar-color); 
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var( --text-color); 
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    display: flex;
    align-items: center;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    transition: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--taggle-color);
}

.switch::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

.home {
    position: relative;
    height: 100vh;
    left: 295px;
    width: calc(100% - 295px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.section_table, .section_add_product, .section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    left: 295px;
    width: calc(100% - 295px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .section_table {
    left: 100px;
    width: calc(100% - 100px);
}

.sidebar.close ~.section_add_product {
    left: 100px;
    width: calc(100% - 100px);
}

.sidebar.close ~ .section-home {
    left: 100px;
    width: calc(100% - 100px);
}

.home h1 {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

/* Cabeçário do header */
body .div-header {
    position: relative;
    height: 60px;
    left: 100px;
    width: calc(100% - 100px);
    transition: var(--tran-05);
    background-color: #575e66;
}

.sidebar.close ~ .div-header {
    left: 290px;
    width: calc(100% - 290px);
}

.footer {
    position: relative;
    height: 60px;
    left: 290px;
    width: calc(100% - 290px);
    transition: var(--tran-05);
}

.footer h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home {
    left: 100px;
    width: calc(100% - 100px);
}

.sidebar.close ~  .footer{
    left: 100px;
    width: calc(100% - 100px);
}

.btn:target .smenu {
    max-height: 100%;
}

.box-btn {
    background-color: #003F63;
    max-width: 100%;
}

.btn_add-user {
    background-color: #F2B138;
    width: 200px;
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.btn_add-user p {
    font-size: 1rem;
    padding: 20px;
}

.btn_add-user p a {
    color: #D9D9D9;
}

/* css da tabela */
.table_list {
    margin-top: 20px;
    background-color: #A1A5A6;
    width: 850px;
    max-width: 100%;
}

@media (max-width: 1340px) {
    .table_list {
        width: 1050px;
        
    }

    .box-btn {
        /* background-color: #003F63; */
        width: 1050px;
    }
}

@media (max-width: 1260px) {
    .table_list {
        width: 950px;
    }

    .box-btn {
        /* background-color: #003F63; */
        width: 950px;
    }
}

@media (max-width: 1160px) {
    .table_list {
        width: 850px;
    }

    .box-btn {
        /* background-color: #003F63; */
        width: 850px;
    }
}

@media (max-width: 1050px) {
    .table_list {
        width: 750px;
    }

    .box-btn {
        /* background-color: #003F63; */
        width: 750px;
    }
}

@media (max-width: 950px) {
    .table_list {
        width: 600px;
    }

    .box-btn {
        /* background-color: #003F63; */
        width: 600px;
    }
}

@media (max-width: 820px) {
    .table_list {
        width: 500px;
    }

    .box-btn {
        /* background-color: #003F63; */
        width: 500px;
    }

    .btn_add-user {
        width: 170px;
        margin: 15px 0 7px 0;
    }

    .btn_add-user p {
        font-size: 12px;
        padding: 10px;
    }

    .table_list th {
        padding: 10px;
        font-size: 15px;
    }
    
    .table_list td {
        /* padding: 3px 3px 3px 10px; */
        font-size: 12px;
    }
}

@media (max-width: 765px) {
    .table_list {
        width: 420px;
    }

    .box-btn {
        /* background-color: #003F63; */
        width: 420px;
    }

    .table_list th {
        padding: 10px;
        font-size: 12px;
    }
    
    .table_list td {
        /* padding: 3px 3px 3px 10px; */
        font-size: 10px;
    }
}

.table_list {
    border: solid 1px #353D40;
}

.table_list th {
    background-color: #003F63;
    padding: 15px;
    color: #D9D9D9;
    text-align: left;
}

.table_list td {
    padding: 5px 5px 5px 15px;
    color: #353D40;
    text-align: left;
}

/* pega o 6 item da tabela td e colocar um background e um padding de 5px */
.table_list td:nth-child(6) {
    background-color: #0e9aba;
    padding: 5px;
}
/* pegao o 6 elementos da tabela <td> e coloca uma cor na tag <a> */
.table_list td:nth-child(6) a {
    color: #D9D9D9;
}
/* pega o 6 elemento da tabela <td> e coloca um hover na tag <a> */
.table_list td:nth-child(6) a:hover {
    color: #F2B138;
}

/* pega a 7 item da tabela <td> e colocar um background de cor red e colocar 5px de padding*/
.table_list td:nth-child(7) {
    background-color: rgb(233, 52, 52);
    padding: 5px;
    color:#D9D9D9;
}
/* pegao o 7 elementos da tabela <td> e coloca uma cor na tag <a> */
.table_list td:nth-child(7) a {
    color: #D9D9D9;
}
/* pega o 6 elemento da tabela <td> e coloca um hover na tag <a> */
.table_list td:nth-child(7) a:hover {
    color: rgb(60, 57, 57);
}

/* even pega as colunas pares e add pega as colunas ímpares */
.table_list tr:nth-child(even) {
    background-color: #D9D9D9;
}

/* páginas de cadastros de produtos do sistemas */
.section_add_product {
    padding: 20px 0;
    max-width: 100%;
}
/*Fim da seção de tabela*/

.section_add_product > h3 {
    width: 600px;
    max-width: 100%;
    text-align: left;
    padding: 15px 10px;
    background-color: #003F63;
    color: #D9D9D9;
    border-radius: 3px 3px 0 0;
}

.section_add_product > form {
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
    background-color: #D9D9D9;
    padding: 15px 10px;
    border-radius: 0 0 3px 3px;
}

.section_add_product > .form_user {
    display: flex;
    flex-direction: column;
}

.inputBox {
    position: relative;
    margin-top: 10px;
}

.iputUser {
    background-color: none;
    outline: none;
    font-size: 17px;
    color: #353D40;
    width: 99.5%;
    letter-spacing: 1px;
    padding: 6px 0 4px 0;
    border: 1px solid #F2B138;
}

.iputButton {
    padding: 10px 0 10px 0;
    font-size: 17px;
    background-color: #F2B138;
    color: white;
    outline: none;
    width: 16%;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px white;
}

.btn-index {
    display: block;
    padding: 10px;
    margin-top: 5px;
    background-color: #003F63;
    width: 100px;
    float: right;
}

.btn-index a {
    color: white;
    font-size: 17px;
    padding: 10;
}

/* seção de alerta de cadastros dos produtos */
.alerts {
    width: 600px;
    max-width: 100%;
    height: 30px;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 5px;
}

.alert p {
    font-size: 20px;
    color:rgb(255, 79, 79);
    /* background-color: tomato; */
    font-weight: 600;
    text-align: center;
    padding: 5px;
}
